header {
  padding: 10px;
  display: flex;
  width: 98vw;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-column {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-icon {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}
